.carousel-container {
  max-width: 400px;
  aspect-ratio: 3/2;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel-btn {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 40%;
  border: none;
  background-color: transparent;
  color: white;
}

.carousel-btn--left {
  left: 0;
}

.carousel-btn--right {
  right: 0;
}

.carousel-btn:hover {
  color: orange;
}
