.carousel-container {
  max-width: 400px;
  aspect-ratio: 3/2;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px auto;
  object-fit: cover;
}

img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9;
}

.carousel-btn {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 40%;
  border: none;
  background-color: transparent;
  color: white;
}

.indicator-container {
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(216, 217, 218);
}

.indicator:hover {
  cursor: pointer;
  background-color: rgb(154, 155, 156);
}

.indicator--active {
  background-color: rgb(51, 94, 236);
  width: 10px;
  height: 10px;
}

.carousel-btn--left {
  left: 0;
}

.carousel-btn--right {
  right: 0;
}

.carousel-btn:hover {
  color: orange;
}
